<h3>"Who wants to be a millionaire?"</h3>

<div>
  <div>
    <h3> {{questionList[currentQuestion]?.question}}</h3>
  </div>
</div>

<div>
  <ol *ngFor="let option of questionList[currentQuestion]?.options; let i=index">
    <li (click)=disable(questionList[currentQuestion].options,option)>
      <label><input type="radio" name="options" value={{option}}> {{option}}</label>
    </li>
  </ol>
</div>

<mat-radio-group>
  <mat-radio-button *ngFor="let answer of answers">
    <label>
      <input type="radio" name="fav_language" [value]="answer" [checked]="isChecked(answer)"/>
      {{answer}}
    </label>
  </mat-radio-button>
</mat-radio-group>

<div>
  <button mat-raised-button color="primary" [disabled]="currentQuestion===0" (click)="previousQuestion()">
    Back
  </button>

  <button mat-raised-button color="primary" [disabled]="currentQuestion===(questionList.length-1)"
          (click)="nextQuestion()">
    Next
  </button>
</div>
