<h3>"Who wants to be a millionaire?"</h3>

<div class="container">
    <div class="score">
      <h5>20 Points</h5>
    </div>

  <div class="question-remain">
    <span style="font-style: italic;">Question 1 of 5</span>
  </div>

    <div class="time">
      60 sec
    </div>

  <div class="progress">
    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
  </div>
  <div class="question">
    <h3>What is your name?</h3>
  </div>
  <div class="options">
    <ol>
      <div class="question">
        <li>
          <div class="card">
            Iura
          </div>
        </li>
      </div>
      <div class="question">
        <li>
          <div class="card">
            Maria
          </div>
        </li>
      </div>
      <div class="question">
        <li>
          <div class="card">
            Alexa
          </div>
        </li>
      </div>
      <div class="question">
        <li>
          <div class="card">
            Viorelia
          </div>
        </li>
      </div>
    </ol>
  </div>
</div>
<div class="mat-button">
  <button mat-raised-button color="primary">B A C K</button>
  <button mat-raised-button color="primary">N E X T</button>
</div>
