<section>
  <div class="example-label"></div>
  <div class="example-button-row">
    <div class="container">
      <button type="button"
              class="example-icon"
              mat-mini-fab color="primary" aria-label="Example icon button with a menu icon"
              (click)="openDialogSettings()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Settings</span>
      <span class="example-spacer"></span>
      <img src="assets\img\Millionaire.jpg" alt="Millionaire" style="width: 100%">
      <button class="btn" mat-raised-button color="primary" (click)="openDialog()">
        S T A R T
      </button>
    </div>
  </div>
</section>
